<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Prènom :<b> <%= @params[:name] %></b></h2>
    <h2>Email :<b> <%= @params[:email] %></b></h2>
    <h2>Sujet :<b><%= @params[:subject] %></b></h2>
    <h2>Text :<b><%= @params[:texte] %></b></h2>
  </body>
</html>
