<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @params[:subject] %></h1>
    <h2>Prènom : <%= @params[:name] %></h2>
    <h2>Email : <%= @params[:email] %></h2>
    <p>Text: <%= @params[:texte] %></p>
  </body>
</html>
