<div class = "container">
  <div class = "row">
    <div class = "col-md-12">
      <h1 class = "titlePages">Illustration</h1>
    </div>
    <div class = "col-md-12">
      <%= link_to image_tag('Untitled-2.png',class: 'center-block')%>
    </div>
  </div>
</div>
<div class = "container width">
  <div class = "row">
    <% @potfolio.each do |portfol| %>
      <% if portfol.typeOfImage == 'illus' %>
        <div class = "col-md-4 col-sm-6">
          <% if portfol.image_uid.present? %>
            <%= link_to image_tag(portfol.image.thumb('320x180#').url, :class => 'center-block potfol', :alt => 'illus') , portfol.image.url , { :class => 'fancybox', 'data-fancybox' => 'group','data-caption' => "<b>" + portfol.name + "</b> </br> <i>" + portfol.about + "</i>"}  %>
          <% else %>
            <%= image_tag('no-image.png', class: 'portfolioPhoto') %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <script>
  $(document).ready(function() {
    $(".fancybox").fancybox({
        openEffect	: 'none',
        closeEffect	: 'none'
      });
  });
  </script>
</div>
