<div class = "container ">
  <div class = "row">
    <div class = "col-md-12">
      <h1 class = "titlePages">Personnages</h1>
    </div>
    <div class = "col-md-12">
      <%= link_to image_tag('Untitled-2.png',class: 'center-block')%>
    </div>
  </div>
</div>
<div class = "container width">
  <div class = "row">
    <% @potfolio.each do |portfol| %>
      <% if portfol.typeOfImage == 'person' %>
        <div class = "col-md-4">
          <% if portfol.image_uid.present? %>
            <a class="fancybox-thumb" rel="fancybox-thumb" href="http://farm6.staticflickr.com/5444/17679973232_568353a624_b.jpg" title="Golden Manarola (Sanjeev Deo)">
	             <img src="http://farm6.staticflickr.com/5444/17679973232_568353a624_m.jpg" alt="" />
             </a>
             <a class="fancybox-thumb" rel="fancybox-thumb" href="http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_b.jpg" title="Codirosso spazzacamino (Massimo Greco _Foligno)">
	              <a><%=link_to(image_tag portfol.image.url, :size => "200x200") %></a>
             </a>
          <% else %>
            <%= image_tag('no-image.png', class: 'portfolioPhoto') %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <script>
  $(".fancybox-thumb").fancybox({
		prevEffect	: 'none',
		nextEffect	: 'none',
		helpers	: {
			title	: {
				type: 'outside'
			},
			thumbs	: {
				width	: 50,
				height	: 50
			}
		}
	});
  </script>
</div>
