@import "bootstrap-sprockets";
@import "bootstrap";

*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none !important;
}

h1{
  font-size: 55px;
  margin: 0px;
}
h2{text-align: center;}

p{
  font-size: 17px;
}

html,body{
  font-family: 'Rajdhani', sans-serif;
  height: 96%;
}

.wrapper{
  display: flex;
 flex-direction: column;
 height: 100%;
}

.content{
  flex: 1 0 auto;
}

.container-fluid {
  margin-right: 4%;
  margin-left: 4%;
  font-size: 15px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.contact{
  margin-top:3%;
}


.textArea{
  height: 100px !important;
}

                                      // PAGES

.titlePages{
  text-align: center;
}


@media (min-width: 1200px) {
  .cadreAccueile {
    background-image: url('frame.png') ;
    margin-top: -3%;

    }
  .image {
    background-image: none ;
    margin-top: -2%;
    }
  .textAccueile{
    padding: 22%;
    h1{
      text-align: center;
    }
  }
  .flImage{
    margin-top: 34%;
  }
}


@media (max-width: 1199px) {
  .cadreAccueile {
    background-image: none ;
    margin-top: 5%;

    }
  .image {
    background-image: url('frame.png') ;
    margin-top: -7%;
    }
  .textAccueile{
    padding: 20%;
    h1{
      text-align: center;
    }
    }
    .flImage{
      display: none;
    }
}

@media (max-width: 990px) {
  .cadreAccueile {
    background-image: none ;
    margin-top: 5%;

    }
  .image {
    background-image: none;
    margin-top: -7%;
    }
  .textAccueile{
    padding: 4%;
    h1{
      text-align: center;
    }
  }
  img {
    display: inline-block;
    height: auto;
    max-width: 100%;
  }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}






.photo{
  width: 100%;
  height: 230px;
  margin-top: 5%;
}

.photoInd{
  width: 320px;
  height: 200px;

}

.portfolioPhoto{
  width: 100%;
}

@media (min-width: 1200px) {
  .width.container {
    width: 1000px;
  }
}

.width{
  margin-top:2%;
}
                                      // FOOTER
.footer {
   margin-top: 2%;
   flex: 0 0 auto;
   border-top: 1px groove;
}
.footer div {
  margin-right: 4%;
  text-align: right;
  padding: 10px;
}

.imgAdmin{
  width:50%;
}

#CV{
  width: 100%;
  font-size: 25px;
}

.potfol{
  margin-top: 3%;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}
